<table class="table text-center">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>BHK</th>
            <th>Food</th>
            <th>Rent</th>
            <th>Ratings</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{allData?.roomNumber}}</td>
            <td>{{allData?.type}}</td>
            <td>{{allData?.bhk}}</td>
            <td>{{allData?.food}}</td>
            <td>{{allData?.rent}}</td>
            <td>{{allData?.rating}}</td>
        </tr>
    </tbody>
</table>